<nav class="navbar navbar-expand-lg navbar-dark bgStyle">
  <div class="container">
    <a class="navbar-brand d-flex" href="#">
      <img src="../assets/imagesweb/logo_1.webp" alt="rex web media logo" width="48" height="48" class="me-3 rounded-circle" />
      <span class="sub1">
        NEW CHOICE<br />
        <span class="sub2">Medical and Surgical supplies LLC</span>
      </span>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="products">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="about">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="help">Help ?</a>
        </li>
      </ul>
      <!-- <ul class="navbar-nav">
        <li *ngIf="!loggedin" class="nav-item">
          <a class="nav-link" routerLink="register">Sign Up</a>
        </li>
        <li *ngIf="!loggedin" class="nav-item">
          <a class="nav-link" routerLink="login">Log In</a>
        </li>
        <li *ngIf="loggedin" class="nav-item">
          <a class="nav-link" routerLink="home">Log Out</a>
        </li>
      </ul> -->
    </div>
  </div>
</nav>

<router-outlet></router-outlet>