.caption1{
    color: aliceblue;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: #5DAB63;
    border-radius: 50%;
    background-size: 70% 70%;
    width: 3rem;
    height: 3rem;
}

.carousel-indicators [data-bs-target]{
    background-color: #5DAB63;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.carousel-indicators{
    margin-bottom: 0.3rem;
}

.carousel-caption{
    bottom:10%;
    background-color: rgba(0,0,0,.5);
}