.share-btn-container {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
}

.share-btn-container a i {
    font-size: 30px;
}

.share-btn-container a {
    margin: 20px 0;
    transition: 500ms;
}

.share-btn-container a:hover {
    transform: scale(1.2);
}

.share-btn-container .fa-facebook {
    color: #1877f2;
}

.share-btn-container .fa-whatsapp {
    color: #25d366;
}

.share-btn-container .fa-twitter {
    color: #1da1f2;
}

.share-btn-container .fa-envelope {
    color: #ff4c4c;
}

.share-btn-container .fa-linkedin {
    color: #0a66c2;
}

@media screen and (max-width: 810px) {
    
    .share-btn-container {
        position: relative;
        flex-direction: row;
        padding: 16px 0;
        box-shadow: 4px 0 8px rgba(0, 0, 0, 0.3);
        top: unset;
        transform: unset;
        left: 0;
        bottom: 0;
        width: 100%;
        justify-content: center;
    }

    .share-btn-container a {
        margin: 0 20px;
    }
}