<!-- Share -->
<div class="share-btn-container">
    <a class="facebook-btn" target="_blank" rel=“noreferrer” >
      <i class="fab fa-facebook"></i>
    </a>
    <a class="whatsapp-btn" target="_blank" rel=“noreferrer” >
      <i class="fab fa-whatsapp"></i>
    </a>
    <a class="twitter-btn" target="_blank" rel=“noreferrer” >
      <i class="fab fa-twitter"></i>
    </a>
    <a class="email-btn" target="_blank" rel=“noreferrer” >
      <i class="fa fa-envelope"></i>
    </a>
    <a class="linkedin-btn" target="_blank" rel=“noreferrer” >
      <i class="fab fa-linkedin"></i>
    </a>
</div>