<div class="spinner" *ngIf="!loaded">
  <mat-spinner></mat-spinner>
</div>
<div *ngIf="loaded && !open" class="container">
  <h1 class="text1 textStyle3">Medical appliances</h1>
  <div class="row">
    <div *ngFor="let cardata of carddata" class="col-sm-3 cardstyle">
      <div class="card">
        <div id="container">
          <img src={{cardata.photos}} class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <p class="card-title">{{cardata.name}}</p>
          <!-- <p class="card-text">{{cardata.description}}</p> -->
          <!-- <a href="#" class="btn btn-primary"></a> -->
        </div>
      </div>
    </div>
  </div>
</div>


<div *ngIf="loaded && open" class="container">
  <h1 class="text1 textStyle3">MEDICAL AND SURGICAL APPLIANCES</h1>
  <div class="row">
    <div class="button">
      <button class="btn btn-primary" routerLink="/products"> >> Click here to view all products</button>
    </div>
    <div *ngFor="let cardata of carddata1" class="col-sm-3 cardstyle">
      <div class="card">
        <div id="container">
          <img src={{cardata.photos}} class="card-img-top" alt="...">
          <!-- <img src="../../../assets/images/image1.webp" class="card-img-top" alt="..."> -->
        </div>
        <div class="card-body">
          <p class="card-title">{{cardata.name}}</p>
          <!-- <p class="card-text">{{cardata.description}}</p> -->
          <!-- <a href="#" class="btn btn-primary"></a> -->
        </div>
      </div>
    </div>
    <div class="button">
      <button class="btn btn-primary" routerLink="/products"> >> Click here to view all products</button><br/>
    </div>
  </div>
</div>