<div class="spinner" *ngIf="!loaded">
  <mat-spinner></mat-spinner>
</div>
<div class="container">
  <h1 *ngIf="loaded" class="text1">Medical appliances</h1>
  <div *ngIf="loaded" class="row">
    <div *ngFor="let cardata of carddata" class="col-sm-3 cardstyle">
      <div class="card">
        <div id="container">
          <img src={{cardata.photos}} class="card-img-top" alt="...">
        </div>
        <div class="card-body">
          <p class="card-title">{{cardata.name}}</p>
          <!-- <p class="card-text">{{cardata.description}}</p> -->
          <!-- <a href="#" class="btn btn-primary"></a> -->
        </div>
      </div>
    </div>
  </div>
</div>
